---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Open Sans", sans-serif;
$base-font-size:   16px;
$base-font-size-header-main:   30px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     15px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

// Breakpoints
$large-breakpoint: 50em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #6c9494 !default; // #999999 #159957
$section-headings-color-opacity: rgba(108, 148, 148, 0.7) !default; // #999999 #159957
$body-text-color: #24292e !default; // 606c71
$body-link-color: #486161 !default;
$blockquote-text-color: #6a737d !default; // 819198
$link-hover-text-color: #b5aeb1 !default; // 819198
$link-text-color: #4a4a4a !default; // 819198

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        //"base",
        //"layout",
        "simple_styles",
        "syntax-highlighting"
;
